{% extends template_from_string(data.website_layout) %}

{% block css %}

{% endblock %}

{% block page %}

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{{ img(field_render('subheader', 'page@'~data.page.id).path) }}">
        <div class="container pt-100 pb-50">
            <!-- Section Content -->
            <div class="section-content pt-100">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-white">
                            {% if data.page.type == 'dynamic' %}
                                {{ data.route_params.slug | capitalize | replace({'-':' '}) }}
                            {% else %}
                                {{ data.page.title }}
                            {% endif %}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Section: Have Any Question -->
    <section class="divider">
        <div class="container pt-60 pb-60">
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="contact-info text-center">
                            <i class="fa fa-phone font-36 mb-10 text-theme-colored"></i>
                            <h4>Nous appeler</h4>
                            <h6 class="text-gray">Tél: {{ salon.phone }}</h6>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="contact-info text-center">
                            <i class="fa fa-map-marker font-36 mb-10 text-theme-colored"></i>
                            <h4>Adresse</h4>
                            <h6 class="text-gray">{{ address.address }}<br/> {{ address.postal_code }} {{ address.city }}<br/> {{ address.country }}</h6>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="contact-info text-center">
                            <i class="fa fa-envelope font-36 mb-10 text-theme-colored"></i>
                            <h4>E-mail</h4>
                            <h6 class="text-gray">{{ salon.email }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--======= Section Map ===== -->
    <section>
        <div class="container-fluid pt-0">
            <div class="row">
                <div id="gmap" style="height:400px"></div>
            </div>
        </div>
    </section>
    <!-- end main-content -->

{% endblock %}

{% block js %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyArNGSSl-KPS23l24EilPNQhfmEw_V8BtI&libraries=places&region=FR"></script>
    <script>
        $(document).ready(function () {
            var latlng = new google.maps.LatLng({{ address.latitude }}, {{ address.longitude }});
            var map = new google.maps.Map(document.getElementById('gmap'), {
                zoom: 13,
                center: latlng
            });
            new google.maps.Marker({
                position: latlng,
                map: map
            });
        })
    </script>
{% endblock %}