<!-- Section: blog -->
<section id="blog">
    <div class="container pt-40 pb-30">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-uppercase title line-bottom">Latest <span
                                class="text-black font-weight-300">News</span></h3>
                    <div class="owl-carousel-2col owl-nav-top" data-nav="true">
                        {% for post in posts %}
                            {% set params = {} %}
                            {% for arg in args %}
                                {% if arg.value != '' %}
                                    {% set params = params|merge({(arg.route):arg.value}) %}
                                {% else %}
                                    {% if arg.alias == 'p' %}
                                        {% set params = params|merge({(arg.route):attribute(post,arg.column)}) %}
                                    {% elseif arg.alias == 'c' %}
                                        {% set params = params|merge({(arg.route):attribute(post.categories[0],arg.column)}) %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <div class="item">
                                <article class="post clearfix mb-30 bg-lighter">
                                    <div class="entry-header">
                                        <div class="post-thumb thumb">
                                            <img src="{{ img(post.thumbnail.path) }}" alt="{{ post.thumbnail.alt }}"
                                                 class="img-responsive img-fullwidth">
                                        </div>
                                    </div>
                                    <div class="entry-content p-15 pt-10 pb-10">
                                        <div class="entry-meta media no-bg no-border mt-0 mb-10">
                                            <div class="media-body pl-0">
                                                <div class="event-content pull-left flip">
                                                    <h4 class="entry-title text-white text-uppercase font-weight-400 m-0 mt-5">
                                                        <a href="{{ link(route,params) }}">{{ post.title }}</a></h4>
                                                    <span class="mb-10 text-gray-darkgray mr-10 font-13">{{ post.updated_at | date("d FY") }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mt-5">{{ post.description }}<a
                                                    class="text-theme-color-2 font-12 ml-5"
                                                    href="{{ link(route,params) }}"> Voir plus</a></p>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>