{% for post in posts %}
    {% set params = get_post_params(args, post) %}
    <div class="col-md-3">
        <img data-src="{{ img(post.thumbnail.path) }}" style="width: 100%" class="lazyload" alt="{{ post.thumbnail.alt }}">
        <h4 class="line-bottom font-weight-400">{{ post.title }}</h4>
        <p class="font-13">{{ post.description }}<a href="{{ link(route,params) }}" class="text-theme-colored">Lire plus</a>
        </p>
    </div>
{% endfor %}