<section id="about">
    <div class="container">
        <div class="section-content">
            <div class="row mt-50">
                <div class="col-md-5">
                    <div class="class-item box-hover-effect effect1">
                        <div class="thumb">
                            <img class="img-responsive img-fullwidth mb-20" src="{{ img(post.thumbnail.path) }}" alt="{{ post.thumbnail.alt }}">
                        </div>
                    </div>
                </div>
                <div class="col-md-7 mt-20">
                    <div class="caption">
                        <h4 class="text-uppercase letter-space-3">{{ post.title }}</h4>
                        {{ post.content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.title = "{{ field_render('meta_title', 'post@' ~ post.id) }}";
    $('meta[name=description]').attr('content', "{{ field_render('meta_description', 'post@' ~ post.id) }}");
    $('meta[name=keywords]').attr('content', "{{ field_render('meta_keywords', 'post@' ~ post.id) }}");
</script>

