<section>
    <div class="container">
        <div class="row">

            {% for post in posts %}
                {% set params = {} %}
                {% for arg in args %}
                    {% if arg.value != '' %}
                        {% set params = params|merge({(arg.route):arg.value}) %}
                    {% else %}
                        {% if arg.alias == 'p' %}
                            {% set params = params|merge({(arg.route):attribute(post,arg.column)}) %}
                        {% elseif arg.alias == 'c' %}
                            {% set params = params|merge({(arg.route):attribute(post.categories[0],arg.column)}) %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="col-md-4 col-sm-6 col-xs-6 text-center">
                    <div class="picframe">
                        <a href="{{ link(route,params) }}">
                            <span class="overlay {% if data.route_params.slug != 'actualite' %}img-circle{% endif %}">
                                <span class="pf_text">
                                    <span class="project-name">Voir plus</span>
                                </span>
                            </span>
                        </a>

                        <img data-src="{{ img(post.thumbnail.path) }}" class="lazyload {% if data.route_params.slug != 'actualite' %}img-circle{% endif %}" alt="{{ post.thumbnail.alt }}" />
                    </div>

                    <div class="spacer-single"></div>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                    <div class="spacer-half"></div>
                </div>
            {% endfor %}

            <div class="clearfix"></div>
        </div>
    </div>
</section>